:root {
    /* colourscheme */
    /* highlights */
    --highlight-0: #00AFFF;
    --highlight-1: #AAAAAA;

    /* neutrals */
    --neutral-0: #CCCCCC;

    /* backgrounds */
    --background-0: #4444CC;
    --background-1: #000000;
    --background-2: #444444;

    /* shades */
    --shade-0: #00000044;
    --shade-1: #00000022;

    /* Element sizes */
    --grid-cell-height: 90%;
    --grid-cell-shadow-size: clamp(0.25vh, 5px, 1vw);
    --grid-gap: 0.5vh;
    --shape-height: 2.5%;
}
html, body {
    background-color: var(--background-0);
    margin: 0px;
    height: 100%;
    overflow: hidden;
}
.ui-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
}
.ui-container {
    /* Wrapper, that helps position divs vertically */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2%;
    aspect-ratio: 1 / 1.75;
}
.info-bar {
    /* Top bar that shows score (and other informational stuff in the future?) */
    aspect-ratio: 10 / 1;
    display: flex;
    align-content: center;
    background-color: var(--shade-0);
    border: 1vh solid var(--background-1);
    border-radius: 1vh;
}
.score-text {
    /* Text properties of score and its prefix */
    font-family: sans-serif;
    font-weight: bold;
    font-size: clamp(3vh, 3vh, 10vw);
    color: var(--highlight-0);
}
.score-prefix {
    width: 50%;
    display: inline-block;
    margin: auto auto auto 5%;
    flex: 1;
}
.score {
    width: 50%;
    display: inline-block;
    text-align: end;
    margin: auto 5% auto auto;
    flex: 2;
}
.grid {
    /* Grid that holds '.grid-cell' divs */
    aspect-ratio: 1 / 1;
    display: grid;
    grid-gap: var(--grid-gap);
    place-items: center;
}
.grid-cell, .shape-cell {
    /* Cells, that '.draggable' divs can be dropped into */
    height: var(--grid-cell-height);
    aspect-ratio: 1 / 1;
    background-color: var(--highlight-1);
    border-radius: 0.5vh;
    box-shadow: var(--grid-cell-shadow-size) var(--grid-cell-shadow-size) var(--background-1)
}
.occupied {
    /* Occupied cells in grid */
    background-color: var(--background-2);
}
.reserve {
    /* Area, that holds '.draggable' divs. New ones will appear here */
    aspect-ratio: 3 / 1;
    background-color: var(--shade-0);
    border: 1vh solid var(--background-1);
    border-radius: 1vh;
    display: flex;
    justify-content: center;
}
.shape-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shape {
    /* It would be great if this element is easily draggable if its position is
     * 'relative'.  This element will have a hacky responsiveness as long as
     * the solution above is not easily doable. TODO: Better responsiveness
     * without using 'clamp'
     */
    height: clamp(7.5vh, 12.5%, 27.5vw);
    aspect-ratio: 1 / 1;
    position: fixed;
    display: grid;
    cursor: move;
    /* TODO: remove 'place-items center to help with dragging placement alignment' */
    place-items: center;
    grid-gap: var(--grid-gap);
    grid-template-areas:
        "c0   c1   c2   c3   c4"
        "c5   c6   c7   c8   c9"
        "c10  c11  c12  c13  c14"
        "c15  c16  c17  c18  c19"
        "c20  c21  c22  c23  c24";
}
.shape-drag {
    /* TODO: proper responsiveness */
    height: 27.5%;
}
.shape-cell {
    background-color: var(--highlight-0);
}
.shape-cell-drag {
    box-shadow: none;
}
